*{
	font-family: Tahoma;
}

nav.navbar{
	background-color: transparent;
	border-color: transparent;

}
.fondo{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
	
}
header{
	background-size: cover;
}
.jumbotron{
	background-color: transparent;
}
.blnc{
	color: white;
}
.logo{
	width: 60%;
}
.azul{
	background:rgba(51,102,153,0.5);
	background-size: contain;

	

}
.aqua{
	color: #80aaff;
	font-family: Arial;
	font-size: 3em;
}
.icon{
	font-size: 20%;
}
.bgo{
	width: 100%;
	margin-top: 5%;


}
.bolitas{
	background-color: #80aaff;
	padding: 4%;
	color: white;
	margin:6px; 
	font-size: 3em;
	text-align: center;
	display: block;
	margin-bottom: 2em;
}
.imgx{
	width: 90%;
}
.icon{
font-size: 200%;
box-shadow: 2px 2px 5px #999;
padding: 10%;
color: #3366cc;
}
h3{
	color:#3366cc;
	margin:0.7 0.5;
}
h4{
	color:#3366cc;
	font-size: 3em;
}
.btn{
	margin-top: 6%;
	background-color: transparent;
	border-color: white;
	border-width: 10%;

}
.mrg{
	margin-bottom: 5%;

}
.icono{
	background-color: #3366cc;
	color: white;
}

.mrge{
	margin-top: 20%;
}
.mrgech{
	margin-top: 8%;
}
.abjo{
	margin-bottom: 10%;
}
.negro{
	background-color: rgba(0, 0, 0, 0.5);
	
}
footer{
	background-color: #33334d;
	padding-bottom: 2%;
}
.icn{
	font-size: 3em;
}
.abso{
	position: absolute;
}
h5{
	font-size: 3em;
	padding-top: 2%;
	padding-bottom: 2%;
}
.icn{
	display: inline-block;
	margin-top: 20%;
	margin-bottom: 10%;
}
.matop{
	margin-top: 1em;
}
.boto{
	background-color: #3F7FBF;
}